{deps_dir, ["deps"]}.
{sub_dirs, ["rel", "apps/game", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
	{misultin, ".*", {git, "git://github.com/ostinelli/misultin.git", "master"}},
	{gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
	{log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "master"}}
       ]}.
